
  .form {
    background: white;
    border: 1px solid #dedede;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 500px;
    padding: 30px 50px;
  }

  .input {
    display: flex;
    width: 404px;
    height: 32px;
    padding: 10px 0px 10px 10px;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid #D9D9D9;
  }

  .label {
    color: #3d3d3d;
    display: block;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 5px;
  }

  .error {
    color: red;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    height: 30px;
  }

  .submitButton {
    display: flex;
    width: 404px;
    height: 32px;
    padding: 10px 0px 10px 10px;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid #1E3765;
    background: #1E3765;
    text-align: center;
    transition: all 0.3 ease;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    &:hover {
      background-color: #375791;
    
    }
  }
