.discover {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.discover-img {
  height: 20vh;
  width: 100%;
  mask-image: linear-gradient(
    to right,
    transparent,
    black 20%,
    black 80%,
    transparent
  );
  object-fit: cover;
  position: relative;
  z-index: -1;
  margin-bottom: 20px;
}



@keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.discover-title {
  color: #000;
  font-family: "Open Sans", sans-serif;
  font-size: 35px;
  font-style: bold; /* Note: 'bold' is not a valid value for font-style, use font-weight for that */
  font-weight: 500;
  line-height: normal;
  &:hover {
    color: var(--uoft-blue);
  }
}


.card {
  background-color: white;
  border-radius: 10px;
  border-color: #e3e4e6;
  border-style: solid;
  border-width: thin;
  display: flexbox;
  margin-bottom: 10px;
  text-align: center;
  margin: 50px;
  box-sizing: border-box;
  width: 25vw;
  flex-direction: column;
  transition: all 0.5s ease;
  overflow: hidden;
}

.card-img {
  display: block;
    width: 25vw;
    height: 15vw;
    object-fit: cover;
    position: relative;
    object-position: bottom;
}

.cardtext {
  margin-bottom: 50px;
}

.card:hover {
  box-shadow: 0 4px 8px 0 var(--uoft-blue), 0 6px 20px 0 var(--uoft-blue);
  cursor: pointer;
}
.cardGrid {
  
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.dropdown {
  margin-left: 50px;
}

.filter-title {
  color: #b4ebea;
  font-family: BemboStd;
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 10px;
}
.card-title {
  color: #000;
  font-family: BemboStd;
  font-size: 20px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
}

.card-detail-oneliner {
  color: #000;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
}

.card-detail-location {
  color: #000;
  font-family: Poppins;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.card-detail-time {
  color: #d84747;
  font-family: Poppins;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.card-detail {
  color: #504242;
  font-family: Poppins;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.organizer {
  width: 100px;
  height: 30px;
  padding: 5px;
  border-radius: 10px;
  padding-top: 7px;
  background-color: rgb(55, 126, 160);
  color: white;
}

.organizer:hover {
  background-color: rgb(36, 55, 98);
}


.overall-search{
  display: flex;
  position: relative;
  flex-direction: column;
}
.search-class {
  display: flex;
  position: relative;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.search {
  display: flex;
  position:relative;
  border: 1px solid #d9d9d9;
  border-radius: 4px 4px 0 0;
  box-sizing: border-box;
  padding: 10px;
  width: 80vw;
  resize: none;
}

.search-options {
  display: flex;
  position: relative;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.searchButton {
  background-color: rgb(55, 126, 160);
  color: white;
  font-family: sans-serif;
  font-size: 14px;
  height: 41px;
}

.title {
  font-size: 40px;
}

.discover-body {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100vw;
  flex-direction: row;
  justify-content: center;
}

.filters {
  position: relative;
  flex: 0.4;
  text-align: left;
  max-width: 200px;
  background-color: #aab3b3;
  background-color: rgb(36, 55, 98);
  color: white;
  font-size: 20px;
  padding: 20px;
  font-family: 'Open Sans', sans-serif;
}
.searchresults {
  display: flex;
  flex: 0.8;
  position: relative;
  text-align: center;
  width: 100px;
  justify-content: center;
  flex-direction: column;
}

.page-link-btn {
  background-color: rgb(11, 49, 49);
  color: white;
  margin: 20px;
  margin-top: 150px;
  margin-bottom: 100px;
}
.page-link-btn:hover {
  background-color: rgb(25, 110, 110);
  box-shadow: 5px 5px 5px 5px rgb(11, 49, 49);
}
.page-container {
  flex-direction: row;
  display: flex;
  justify-content: center;
}

.eventdetails {
  font-size: 10px;
}

.sortDropdown {
  width: 120px;
  height: 32px;
  text-align: center;
  background-color: rgb(55, 126, 160);
  color: white;
  font-family: sans-serif;
  font-size: 14px;
}
.sortDropdown:hover {
  background-color: rgb(36, 55, 98);
}

.nrferror {
  margin-left: 360px;
  font-size: large;
  width: 220px;
  margin-top: 100px;
  cursor: pointer;
  background-color: rgb(48, 95, 95);
  height: 65px;
  padding: 10px;
  border-radius: 5px;
  color: white;
}
.nrferror:hover {
  box-shadow: 5px 5px rgb(2, 22, 22);
  background-color: rgb(13, 117, 117);
}
