.person-name-font {

    color: #1E3765;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.privacy {
    width: 250px;
}

.subscribeButton {
    background-color: #d97a69;
    color: black;
    font-family: sans-serif;
    font-size: 14px;
    margin: 20px 0px;
}

.sectionFont {
    color: #1E3765;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.pencilButton {
    background-color: transparent;
    width: 16px;
    height: 16px;

}

.pageContainer {

    display: inline-flex;
    width: 404px;
    height: 58px;
    flex-direction: column;
    align-items: flex-start;
    gap: 34px;
    flex-shrink: 0;
}

.item-name-font {
    color: black;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.person-picture {

    width: 179.82px;
    height: 179.82px;
    flex-shrink: 0;
    border-radius: 179.82px;
    background-size: 179.82px;
}

.checkboxTitle {
    margin-right: 20px;

}

.checkbox {
    margin-left: auto;
}

.comboBoxOption {
    margin-left: auto;
    width: 100px;
}

.flexbox-horizontal-container {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    justify-content: space-between;
}



.mainFlexBox {
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
    margin-top: 2%;
    align-items: flex-start;
    /* Change align-items to flex-start */
    height: 100vh;
    width: 100vw;
    padding: 35px;
}


.flexbox-user-container {
    position: relative;
    max-width: 300px;
    width: 25vw;
    padding: 0;
    gap: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.flexbox-vertical-container {
    display: flex;
    flex-direction: column;
    position: relative;

}

.event-vertical-container {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.person-table {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #D9D9D9;
}

.eventImage {
    max-height: 300px;
    object-fit: contain;
}

.event-wish-list-table {
    position: relative;
    width: 55vw;
    flex-shrink: 0;
    border-radius: 10px;
    background: #D9D9D9;
    overflow: auto;
    padding: 20px;
}

.inputField:focus {
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 10px;
    background-color: white;
    width: 100%;
    resize: none;
}

.inputField {
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 10px;
    background-color: transparent;
    width: 100%;
    resize: none;
}

.textAreaField:focus {
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 10px;
    background-color: white;
    width: 100%;
    resize: none;
}

.textAreaField {
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 10px;
    background-color: transparent;
    width: 100%;
    resize: none;
}

.eventList {
    list-style-type: none;
}

.event-list-title {
    color: #1E3765;
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    flex-shrink: 0;
}

.event-list-title-font {
    position: relative;
    color: black;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.event-list-title-right {
    position: relative;
    display: flex;
    flex-direction: row;
}

.eventControls {
    margin-left: auto;
}

.event-list-font {
    color: black;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.event-list-value-font {
    color: black;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: auto;
}


.profile-nav-bar {
    width: 190px;
    height: 82px;
    flex-shrink: 0;
    fill: linear-gradient(180deg, rgba(255, 255, 255, 0.46) 0%, rgba(255, 255, 255, 0.00) 100%);
}

.horizontal_divider {
    width: 100%;
    height: 0px;
    opacity: 0.10;
    border: 0.50px #030229 solid;
}

.pencil {
    margin-left: auto;
}


.user-name-nav-bar {
    width: 81.67px;
    height: 19.503px;
    flex-shrink: 0;
    color: #FFF;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.left {
    position: relative;
    display: flex;
    flex-direction: column;
}