body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
}

.event-overall {
    width: 90vw;
    justify-content: center;
    margin: auto;
    height: 90vh;
}

#eventContainer {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    max-width: 600px;
    position: relative;
    justify-content: center;
    margin: auto;
    margin-top: 20px;
}

.interestList {
    margin-top: 1vh;
}

.interestListElement {
    display: inline-block;
    margin-right: 4px;
    background-color: #377ea0;
    color: white;
    border-radius: 12px;
    padding: 3px;
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.editButtonContainer {
    display: flex;
    flex-direction: row-reverse;
}

.editButton {
    padding: 5px 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#eventTitle {
    font-size: 30px;
    color: #333;
}

#eventDescription {
    font-size: 18px;
    color: #000000;
}

#eventImage {
    max-width: 100%;
    border-radius: 10px;
}

#eventInfo {
    font-size: 16px;
    text-align: left;
}

.iconWithSpace {
    margin-left: 8px;
}

.btn--primary {
    background-color: #1e3765;
    color: white;

}

.btn--primary:hover {
    background-color: #377ea0;
    color: white
}

p {
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}

img {
    max-height: 35vh;
}

.alert-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.alert {
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #cce5ff;
    /* Light blue background */
    color: #004085;
    /* Dark blue text */
}

.close {
    float: right;
    font-weight: bold;
    cursor: pointer;
}

/* Hover effect for close button */
.close:hover {
    color: #007bff;
    /* Blue color on hover */
}