* {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.home,
.host,
.blah,
.sign-up {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}


.container{
    margin-top: 50px;
}

.form-title{
    color: #000;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}

.form-button{
    color: #FFF;
    font-family: Poppins;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;  
}

.form-name{
    color: #000;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.form-center {
    display: flex;
    width: 405px;
    height: 696px;
    padding-bottom: 0px;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
}

.textarea-unresizable {
    resize: none;
    height: 130px;
}
