* {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.home,
.host,
.blah,
.sign-up {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}


.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* 100% of the viewport height */
}

.form-title{
    color: #000;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}

.form-second-title{
  color: #000;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.form-button{
    color: #FFF;
    font-family: Poppins;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;  
}

.form-name{
    color: #000;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.form-center {
    display: flex;
    width: 405px;
    height: 696px;
    padding-bottom: 0px;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
}

.textarea-unresizable {
    resize: none;
    height: 130px;
}

 .input {
   border: 1px solid #d9d9d9;
   border-radius: 4px;
   box-sizing: border-box;
   padding: 10px;
   width: 100%;
     resize: none;
 }


.textarea-unresizable {
    resize: none;
    height: 130px;
}


.form-left {
  width: 1000px;
  margin: auto;
  text-align: center;
  justify-content: left;
}

.searchButton{
  display: inline-block;

}
.search_filter_title{
  color: #1E3765;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.filters{
  text-align: left;
  margin-left: -210px;
  margin-top: 50px;
  width:200px;
  padding-bottom: 100px;
  padding-left: 50px;
  padding-top: 10px;
  background-color: #aab3b3;
  border-radius: 10px;
}
.searchresults{
  text-align: center;
  margin-left: 250px;
  width: 100px;
  justify-content: center;
}

.card{
  background-color: aqua;
  border-radius: 10px;
  display: flexbox;
  margin-bottom: 10px;
  padding: 10px;
  text-align: center;
  margin:50px;
  box-sizing: border-box;
  width: 400px;
}
.cardGrid{
  /* text-align: center; */
  margin-top: -300px;
  border-radius: 10px;
  margin-right: 100px;
  width:1100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}