* {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.home,
.host,
.blah,
.sign-up {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}


.container{
    margin-top: 50px;
}

 .input {
   border: 1px solid #d9d9d9;
   border-radius: 4px;
   box-sizing: border-box;
   padding: 10px;
   width: 100%;
     resize: none;
 }

.form-center {
    width: 250px;
    padding: 75px;
    border-radius: 10px;
    text-align: center;
    margin: auto;
    justify-content: center;
    background-color: #20B2AA;
}

.textarea-unresizable {
    resize: none;
    height: 130px;
}


.form-left {
  width: 1000px;
  margin: auto;
  text-align: center;
  justify-content: left;
}
.searchButton{
  display: inline-block;

}

.filters{
  text-align: left;
  margin-left: -210px;
  margin-top: 50px;
  width:200px;
  padding-bottom: 100px;
  padding-left: 50px;
  padding-top: 10px;
  background-color: #aab3b3;
  border-radius: 10px;
}
.searchresults{
  text-align: center;
  margin-left: 250px;
  width: 100px;
  justify-content: center;
}

.card{
  background-color: aqua;
  border-radius: 10px;
  display: flexbox;
  margin-bottom: 10px;
  padding: 10px;
  text-align: center;
  margin:50px;
  box-sizing: border-box;
  width: 400px;
}
.cardGrid{
  /* text-align: center; */
  margin-top: -300px;
  border-radius: 10px;
  margin-right: 100px;
  width:1100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}