* {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.home,
.host,
.blah,
.sign-up {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}


.container{
    margin-top: 50px;
}


.form-center {
    width: 250px;
    padding: 75px;
    border-radius: 10px;
    text-align: center;
    margin: auto;
    justify-content: center;
    background-color: #20B2AA;
}

.textarea-unresizable {
    resize: none;
    height: 130px;
}
