.person-name-font{

    color: #1E3765;
    font-family: Nunito;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


.sectionFont {
    color: #1E3765;
    font-family: Nunito;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.pencilButton {
    background-color: transparent;
    width: 16px;
    height: 16px;

}

.pageContainer {

    display: inline-flex;
    width: 404px;
    height: 58px;
    flex-direction: column;
    align-items: flex-start;
    gap: 34px;
    flex-shrink: 0;
}

.item-name-font{
    color: black;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.person-picture {

    width: 179.82px;
    height: 179.82px;
    flex-shrink: 0;
    border-radius: 179.82px;
    background-size: 179.82px;
}

.checkboxTitle {
    margin-left: auto;
}

.checkbox {
    margin-left: auto;
}
.comboBoxOption {
    margin-left: auto;
    width: 100px;
}

.flexbox-horizontal-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;

}

.mainFlexBox {
    display: flex;
    flex-direction: row;
    gap: 50px;
    position: absolute;
    top:  10%;
    left: 30%;
}

.flexbox-user-container {

    padding: 0;
    gap: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.flexbox-vertical-container {
    display: flex;
    flex-direction: column;


}

.event-vertical-container {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.person-table{

    display: flex;
    flex-direction: column;
    padding: 20px;
    gap:    10px;
    width: 260px;
    height: 550px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #D9D9D9;
}

.eventImage {
    width: 700px;
    height: 300px;
    object-fit: contain;

}

.event-wish-list-table{
    width: 733.334px;
    height: 828px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #D9D9D9;
    overflow: auto;
    padding: 20px;
}

 .inputField:focus {
   border: 1px solid #d9d9d9;
   border-radius: 4px;
   box-sizing: border-box;
   padding: 10px;
     background-color: white;
   width: 100%;
     resize: none;
 }

  .inputField{
   border: 1px solid #d9d9d9;
   border-radius: 4px;
   box-sizing: border-box;
   padding: 10px;
      background-color: transparent;
   width: 100%;
     resize: none;
 }

   .textAreaField:focus {
   border: 1px solid #d9d9d9;
   border-radius: 4px;
   box-sizing: border-box;
   padding: 10px;
     background-color: white;
   width: 100%;
     resize: none;
 }

  .textAreaField{
   border: 1px solid #d9d9d9;
   border-radius: 4px;
   box-sizing: border-box;
   padding: 10px;
      background-color: transparent;
   width: 100%;
     resize: none;
 }
  .eventList {
      list-style-type: none;
  }

  .event-list-title{
    color: #1E3765;

    font-family: Nunito;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 478px;
    height: 62px;
    flex-shrink: 0;
}

.event-list-title-font{
    color: black;
    font-family: Nunito;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.eventControls {
    margin-left: auto;
}

.event-list-font{
    color: black;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.event-list-value-font{
    color: black;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: auto;
}


.profile-nav-bar{
    width: 190px;
    height: 82px;
    flex-shrink: 0;
    fill: linear-gradient(180deg, rgba(255, 255, 255, 0.46) 0%, rgba(255, 255, 255, 0.00) 100%);
}

.horizontal_divider {
    width: 100%;
    height: 0px;
    opacity: 0.10;
    border: 0.50px #030229 solid;
}

.pencil {
    margin-left: auto;
}


.user-name-nav-bar{
    width: 81.67px;
    height: 19.503px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Nunito;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}