# This workflow will do a clean installation of dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Node.js CI

on: [push]
  # push:
  #   branches: [ "main" ]
  # pull_request:
  #   branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [20.x]
        python-version: ["3.10"]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - name: Install yarn
      uses: borales/actions-yarn@v4
      with:
          cmd: install # will run `yarn install` command
    - name: Test frontend
      uses: borales/actions-yarn@v4
      with:
          cmd: start # will run `yarn start` command
          wait-on: 'http://localhost:3000'
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
          python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
          python -m pip install --upgrade pip
          pip install -r ./api/requirements.txt
    - name: Test backend
      uses: borales/actions-yarn@v4
      with:
          cmd: start-api # will run `yarn start-api` command
          wait-on: 'http://localhost:8000'
    - name: Test the app
      uses: borales/actions-yarn@v4
      with:
          cmd: test # will run `yarn test` command
