name: Run Python unit tests

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10"]

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r ./api/requirements.txt
      - name: Running unit tests with pytest
        run: |
          python -m pytest ./api/utils/test_api.py
          python -m pytest ./api/utils/mailing_test/
          python -m pytest ./api/utils/database_test/