name: Run Python unit tests

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10"]

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r ./api/requirements.txt
      - name: Running unit tests with pytest
        run: |
          python -m pytest -s ./api/utils/unit_tests/test_api.py
          python -m pytest -s ./api/utils/unit_tests/mailing_test/
          python -m pytest -s ./api/utils/unit_tests/database_test/
        env:
          SQLALCHEMY_DATABASE_URI: postgres://zxghvcedinetif:06e47e24e26abb1615dcad3f27ee163398b49e6b51ab4decb48005fd8025f89a@ec2-107-21-67-46.compute-1.amazonaws.com:5432/d667kr0jdocot2
